<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>

      <ion-list-header class="list_header">
        Deck Settings
      </ion-list-header>

      <ion-item>
        <ion-label>Deck color</ion-label>
        <ion-select [(ngModel)]="model.background" (ionChange)="changeBackground()">
          <div *ngFor="let color of deckcolors" >
          <ion-option id ="deckCol" value="{{color.value}}" selected="{{color.selected}}">{{color.title}}</ion-option>
        </div>
        </ion-select>
      </ion-item>

      <ion-list-header class="list_header">
        General Settings
      </ion-list-header>
        <ion-item>
          <ion-label>Auto-Hide Card</ion-label>
          <ion-toggle [(ngModel)]="autoHide_value" (click)="autoHide()"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Card Sounds</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Keep Screen on</ion-label>
          <ion-toggle [(ngModel)]="keepScreen_value" (click)="keppScreenOn()"></ion-toggle>
        </ion-item>  

      <ion-list-header class="list_header"> 
        Time Settings
      </ion-list-header>
      <ion-item>
        <ion-label>Duracation</ion-label>
        <ion-select [(ngModel)]="model.duration" (ionChange)="changeDuration()">
          <div *ngFor="let time of deckTime">
          <ion-option value="{{time.value}}" selected="{{time.selected}}">{{time.title}}</ion-option>
        </div>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>